.bookContainer{
  padding:0;
  margin-top:4%;
}

.btn-mine {
  margin-left:1%;
  margin-right:1%;
}

#bookSelect {
  margin:0;
  padding:0;
}

#center {
    width: 100%;
    border: 3px solid green;
    padding: 10px;
  }

#indexContainer {
  margin:auto;
  margin-top:10px;
}

#total-container {
  padding: 0;
}